/* Site Colors:
  #094e7a - nca blue

  #083b69 - nca blue2
  #e55d11 - nca2 orange

  #689DC1 - light blue
  #D4E6F4 - very light blue

  #EEE4B9 - light tan
  #8D0D19 - burgundy
*/

html { height: 100%; width: 100%; }
body {
  width: 100%; height: 100%;
  margin: 0px; padding: 0; border: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 13px; line-height: 15px;
  background: #EEE4B9;
}
img { border: none; }
a { color: #8D0D19; }
a:hover { color: #083b69; }
iframe {
  border:0px;
}
table {
    width:100%;
}
button {
    height:25px;
}
fieldset {
    width:90%;
}


#spinner {
  display: none;
  padding-top: 1em;
  padding-left: 1em;
}

#header {
	height: 60px; width: 100%; position:fixed; z-index: 5;
	margin: 0px; padding: 0; text-align: left;
  background: #083b69; color: #D4E6F4;
  display: inline;
}
#header h1 { font-size: 24px; padding: 0px; margin: 0px;}
#main {
  /*height: 800px;*/
  height: 100%;
  width: 100%;
	background: #EEE4B9;
}

#footer {
	height: 5px; margin: 0px; padding: 2em;
	position:fixed;
 	bottom:0; width: 100%;
	text-align: left;
	font-size: 12px;
	z-index: 5;
  background: #083b69;  color: #D4E6F4;
}

#navigation {
	float: left; position:fixed;
	top: 60px;
	width: 185px; height: 100%;
	margin: 0px; padding: 1em;
	color: #D4E6F4; background: #8D0D19;
	z-index: 4;
}
#navigation a { color: #D4E6F4; text-decoration: none; }
#navigation a:hover { color: #FFFFFF; }
ul.subjects {
	margin: 1em 0; padding-left: 0; list-style: none;
}
ul.pages { padding-left: 2em; list-style: square; font-weight: normal; }
.selected { font-weight: bold; }

/*#title {
  height: 50px; width: 100%; position:fixed; z-index: 8;
	margin: 0px; padding: 0; text-align: left;
  background: #EEE4B9;
  color: #D4E6F4;
  display: inline;
}*/

#page {
  height:86%;
  width:86%;
	position:relative;
	top: 60px; left:195px;
	float: left;
	padding-left: 2em;
  vertical-align: top;
	background: #EEE4B9;
}
#page h2 {
  color: #8D0D19;
  margin-top: 1em;
}
#page h3 { color: #8D0D19; }
.view-content {
	margin: 1em; padding: 1em; border: 1px solid #999;
}
/*#page a { color: #8D0D19; text-decoration: none; }*/
/*#page a:hover { color: #689DC1; }*/

div.message {
	border: 2px solid #8D0D19;
	color: #8D0D19; font-weight: bold;
	margin: 1em 0 ; padding: 1em;
}

.error {
	color: #8D0D19; border: 2px solid #8D0D19;
	margin: 1em 0; padding: 1em;
}
.error ul { padding-left: 2em; }

#giornata {
    border-collapse: collapse;
    width: 20%;
    float:left;
}
#filedim {
    border-collapse: collapse;
    width: 40%;
    padding-left: 3px;
}

#giornata th, #filedim th  {
    border: 2px solid #000000;
    padding: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    background-color: #8D0D19;
    height:28px;
    color: white;
}

#giornata td, #filedim td {
    text-align: center;
    border: 2px solid #000000;
    height:100%;
    padding: 2px;
}

#filedim tr {
  background-color: #f2f2f2;
}

#giornata tr {
  background-color: #e6e6e6;
}

#giornata tr:hover, #filedim tr:hover {
background-color: #e6eeff;
}

#tavol {
    border-collapse: collapse;
    width: 100%;
}

#tavol th {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    background-color: #8D0D19;
    height:38px;
    color: white;
}

#tavol td, #tavol th {
    border: 2px solid #000000;
    padding: 1px;
}

#tavol tr:nth-child(even){background-color: #f2f2f2;}
#tavol tr:nth-child(odd) {background-color: #ddd;}

#tavol tr {
height:33px;
}

#tavol tr:hover {
background-color: #e6eeff;
}

#usertable {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

#usertable th {
    font-size: 105%;
    padding-top: 1px;
    padding-bottom: 1px;
    height:30px;
    border: 2px solid #000000;
    background-color: #cccccc;
}

#usertable td {
    border: 2px solid #000000;
    padding: 1px;
}

#usertable tr {
  height:25px;
}

#usertable tr:hover {
background-color: #e6eeff;
height:30px;
}

#field{
 width:100%;
}
#stringa{
 height:10px;
 width:94%;
}
#secs{
 height:10px;
 width:45px;
}
#giorno{
 width:58px;
}
#data{
 width:45px;
 font-size: 11px;
}
#anno{
 width:58px;
 font-size: 11px;
}

#font{
 font-size: 12px;
}


























.search_input_class {
  color: grey;
}
.block_input_class {
  color: grey;
}
.sblock_input_class {
    width:40%;
    text-align: center;
    color: grey;
}


#table_div {
    /*border: 1px solid #000000;*/
    /*margin-top:50px;*/
    position:absolute;
    overflow: auto;
    height: 94%;
    width: 96%;
}
#fp_table th {
    text-align: center;
    background-color: #8D0D19;
    color: white;
}
#fp_table td, #fp_table th {
    border: 0px solid #000000;
    padding: 8px;
}
#fp_table tr {
    height:33px;
}
#fp_table tr:hover {
    background-color: #e6eeff;
}
#fp_table tr:nth-child(even){background-color: #f2f2f2;}
#fp_table tr:nth-child(odd) {background-color: #ddd;}

#table_header_row {
    z-index: 5;
}
#fp_table_data_row {
    z-index: 2;
}

#search_button{
    width: 80%;
}
